{% extends "base_site.html" %}

{% block title %} 班级列表 {% endblock title %}

{% block stylesheets %}
{{ super() }}
<!-- FullCalendar -->
<link href="{{ url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.print.css') }}" rel="stylesheet"
      media="print">
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
    <div>
        <ol class="breadcrumb">
            <li><a href="/index">首页</a></li>
            <li class="active">学生列表</li>
        </ol>
    </div>
    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">导入Excel</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                </div>
                <div class="modal-body">
                    是否导入学生数据Excel?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="input_excel" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <span>所在学院：</span>
    <div class="btn-group">
        <button id="colleague_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            {{colleagues[0]}} <span class="caret"></span>
        </button>
        <ul id="colleague" class="dropdown-menu">
            {% for colleague in colleagues %}
            <li><a class={{colleague}} href="#">{{colleague}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <span>所在专业：</span>
    <div class="btn-group">
        <button id="profession_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            {{professions[0]}} <span class="caret"></span>
        </button>
        <ul id="profession" class="dropdown-menu">
            {% for profession in professions %}
            <li><a class={{profession}} href="#">{{profession}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <span>所在班级：</span>
    <div class="btn-group">
        <button id="classes_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            {{classes[0]}} <span class="caret"></span>
        </button>
        <ul id="classes" class="dropdown-menu">
            {% for item in classes %}
            <li><a class={{item}} href="#">{{item}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="x_content">
        <table id="datatable" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>姓名</th>
                <th>学号</th>
                <th>班级</th>
                <th>专业</th>
                <th>学院</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{student[0]}}</td>
                <td>{{student[1]}}</td>
                <td>{{student[2]}}</td>
                <td>{{student[3]}}</td>
                <td>{{student[4]}}</td>
                <td>{{student[5]}}</td>
                <td>
                    <span id="{{student[6]}}" class="student_delete">删除</span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock content %}
    {% block javascripts %}
    {{ super() }}
    <!-- Datatables -->
    <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    {% endblock javascripts %}
