{% extends "base_site.html" %}

{% block title %} 学生列表 {% endblock title %}

{% block content %}

<div class="right_col" role="main">
    <div>
        <ol class="breadcrumb">
            <li><a href="/index">首页</a></li>
            <li class="active">学生列表</li>
        </ol>
    </div>
    <div class="pull-right">
        <!--<input type="file"/>-->
        <!--<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">导入Excel-->
        <!--</button>-->
        <input type="file" name="file" id="file" class="inputfile btn btn-default"/>
        <label for="file" class="btn btn-default">导入Excel</label>
    </div>
    <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
    <!--aria-hidden="true">&times;</span></button>-->
    <!--&lt;!&ndash;<h4 class="modal-title" id="myModalLabel">Modal title</h4>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--是否导入学生数据Excel?-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
    <!--<button id="input_excel" type="button" class="btn btn-primary">确定</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <span>所在学院：</span>
    <div class="btn-group">
        <button id="colleague_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
             <span class="caret"></span>
        </button>
        <ul id="colleague" class="dropdown-menu">
            <!--{% for colleague in colleagues %}-->
            <!--<li><a class={{colleague}} href="#">{{colleague}}</a></li>-->
            <!--{% endfor %}-->
        </ul>
    </div>
    <span>所在专业：</span>
    <div class="btn-group">
        <button id="profession_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
             <span class="caret"></span>
        </button>
        <ul id="profession" class="dropdown-menu">
            <!--{% for profession in professions %}-->
            <!--<li><a class={{profession}} href="#">{{profession}}</a></li>-->
            <!--{% endfor %}-->
        </ul>
    </div>
    <span>所在班级：</span>
    <div class="btn-group">
        <button id="classes_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
             <span class="caret"></span>
        </button>
        <ul id="classes" class="dropdown-menu">
            <!--{% for item in classes %}-->
            <!--<li><a class={{item}} href="#">{{item}}</a></li>-->
            <!--{% endfor %}-->
        </ul>
    </div>
    <button id="student-query" type="button" class="btn btn-default query-button">查询</button>

    <table id="student_tab" class="table table-hover student_table_body"></table>

    <div id="toolbar" class="btn-group pull-right" style="margin-right: 20px;">
        <button id="btn_student_edit" type="button" class="btn btn-default" style="display: none; border-radius: 0">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
        </button>
        <button id="btn_student_delete" type="button" class="btn btn-default" style="display: none;">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
        <button id="btn_add_student" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
    <!--  新增学生Modal -->
    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form id="addStudentForm" method="post" role="form" class="form-horizontal"
              action="/ajax/api/v1.0/student">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addModalLabel">新增学生</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label "><span class="needed">*&nbsp;</span>姓名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="username" id="add_UserName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="needed">*&nbsp;</span>学号</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="jobnumber" id="add_JobNumber"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="from-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="student_add_btn" type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- 修改学生 Modal -->
    <div class="modal fade" id="modifyStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form id="modifyStudentForm" method="post" role="form" class="form-horizontal"
              action="/ajax/api/v1.0/student">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyModalLabel">修改学生</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label "><span class="needed">*&nbsp;</span>姓名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="username" id="modify_UserName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="needed">*&nbsp;</span>学号</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="jobnumber" id="modify_JobNumber"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">班级</label>
                            <div class="col-sm-6 btn-group">
                                <button id="modify_classes_btn" type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    {{classes[1]}} <span class="caret"></span>
                                </button>
                                <ul id="modify_classes" class="dropdown-menu">
                                    {% for item in classes %}
                                    {% if not loop.first %}
                                    <li><a class={{item}} href="#">{{item}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="from-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button id="btn_modify_student" type="submit" class="btn btn-primary">修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendors/js-xlsx-master/dist/xlsx.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='build/js/student_list.js') }}"></script>

{% endblock javascripts %}
