{% extends "base_site.html" %}

{% block title %} 授课安排 {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/jstree/dist/themes/default/style.min.css') }}"/>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <ol class="breadcrumb">
        <li><a href="/index">首页</a></li>
        <li class="active">授课安排</li>
    </ol>

    <table id="course_arrange_table" class="table table-hover"></table>

    <!--  新增课程Modal -->
    <div class="modal fade" id="courseArrangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form id="courseArrangeForm" method="post" role="form" class="form-horizontal"
              action="/ajax/api/v1.0/course_arrange">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addModalLabel">授课安排</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="needed">*&nbsp;</span>课程名称</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="course_name" id="course_arrange_name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="needed">*&nbsp;</span>授课周次</label>
                            <span>&nbsp;</span>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input type="text" class="form-control" name="course_arrange_week"
                                               value="{{weeks[0]}}"
                                               id="course_arrange_weeks"/>
                                        <button id='course_arrange_week_btn' type="button"
                                                class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <ul id="course_arrange_week" class="dropdown-menu">
                                            {% for item in weeks %}
                                            <li><a href="#">{{item}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="needed">*&nbsp;</span>授课节次</label>
                            <span>&nbsp;</span>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input type="text" class="form-control" name="course_arrange_time"
                                               value="{{times[0]}}"
                                               id="course_arrange_times"/>
                                        <button id="course_arrange_time_btn" type="button"
                                                class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <ul id="course_arrange_time" class="dropdown-menu">
                                            {% for item in times %}
                                            <li><a href="#">{{item}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="needed">*&nbsp;</span>教学场所</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input type="text" class="form-control" name="course_arrange_site"
                                               value="{{teach_locations[0].location}}"
                                               id="course_arrange_sites"/>
                                        <button id="course_arrange_site_btn" type="button"
                                                class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <ul id="course_arrange_site" class="dropdown-menu">
                                            {% for item in teach_locations %}
                                            <li><a class={{item.location}} href="#">{{item.location}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="from-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <!--type 要为button，如果为submit会重复提交-->
                            <button id="course_arrange_btn" type="button" class="btn btn-primary">安排</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='build/js/course_arrange.js') }}"></script>

{% endblock javascripts %}