{% extends "base_site.html" %}

{% block title %} 权限设置 {% endblock title %}

{% block stylesheets %}
{{ super() }}
<!-- FullCalendar -->
<link href="{{ url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.print.css') }}" rel="stylesheet"
      media="print">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <ol class="breadcrumb">
        <li><a href="/index">首页</a></li>
        <li class="active">权限设置</li>
    </ol>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>角色</th>
            <th>拥有权限</th>
        </tr>
        </thead>
    </table>
</div>
{% endblock content %}