{% extends "base_site.html" %}

{% block title %} 权限管理 {% endblock title %}

{% block stylesheets %}
{{ super() }}
<!-- FullCalendar -->
<link href="{{ url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.print.css') }}" rel="stylesheet"
      media="print">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <ol class="breadcrumb">
        <li><a href="/index">首页</a></li>
        <li class="active">权限管理</li>
    </ol>
</div>
<div>
</div>
{% endblock content %}